.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.main-container{
  padding: 20px;
  margin: 0 auto;
  height: 300px;
}

.renkli-buton {
  padding: 20px;
  color: white;
  font-weight: bold;
}
.renkli-buton + .renkli-buton {
  margin-left: 20px;
}

.green {
  background: green;
}

.red{
  background: red;
}

.blue {
  background: blue;
}

.brown {
  background: brown;
}

.yellow {
  background: yellow;
}